//font = roboto
* {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
body {
  background: #f7f7f7;
}

// color of sidebar 1A1313

//Container/card
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 287px;
}

//Main
.main {
  left: 20%;
  margin-left: 200px;
  position: relative;
  .title {
    margin-left: 22;
    font-size: 24px;
    line-height: 28px;
  }
  .button {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #fff;
    background: #201d1d;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 10px 30px;
  }
}
//Sidebar
.sidebar {
  color: #EFEFEF;
  background-color: #1a1313;
  width: 16.6%;
  height: 100%;
  position: absolute;
  top: 0;
  li{
    list-style: none;
    text-align: center;
  }
}
